@media(max-width: 900px){
    .blogs_main_new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }

    .blogs_posts_conteiner .post_conteiner{
        max-width: 45%;
    }

    .profile_proyects_conteiner{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .main_profile_intro .profile_conteiner{
        display: block;
    }

    .profile_image_conteiner{
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 600px){
    

    .logo_conteiner{
        margin: 0;
    }

    .blogs_posts_conteiner .post_conteiner{
        max-width: 95%;
    }

    .main_profile_intro div img{
        margin: 0;
        width: 200px;
    }

    .main_profile_intro div{
        width: 200px;
        margin: 0 auto; 
    }

    

    
}